body {display:block;
    background: rgb(255, 255, 255);
}

img{
    max-width:40%;
    max-height:35%;
    border-radius: 9px;
}

h1 {
    color: lightskyblue;
    }

    a {
        color:#3C82B6;
        text-decoration:none;
     

    }

    button {
        border-radius: 8px;
        background-color:#FDECF6;
        padding: 10px 10px 10px 10px;
        max-width:10%;
        max-height:10%;
    }

    .imglinks{
        display:flex;
        flex-direction: column;
    }